button{
    display: block;
    margin-left: 10rem;
    margin-right: 5rem;
    width: auto;
}
img{
    border: 2px solid black;
    border-radius: 11px;
}
body{

}
main{
    margin: 3rem 5rem;

}